/* Estilos globais */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: #fafafa;
}

a {
  text-decoration: none;
  color: var(--cBase01);
}

a:hover {
  text-decoration: underline;
}

/* Container principal */
.register-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.footer-form-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin-top: 2rem;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.side-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cBase01); /* Cor primária */
  color: white;
  text-align: center;
  flex: 1;
  padding: 20px;
}

.impact-text {
  font-size: 50px;
  font-weight: 700;
}

.highlight {
  color: var(--warning); /* Destaque em cor secundária */
}

/* Formulário */
.form-container {
  max-width: 500px;
  width: 100%;
  max-width: 450px;
  background: white;
  padding: 3rem 5rem;
  border: 1px solid #0b8b7b;
  box-shadow: 4px 4px 15px 4px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.register-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--cBase02);
  text-align: center;
}

.register-description {
  font-size: 14px;
  text-align: center;
  color: var(--cTextSecondary);
}

/* Formulário */
.register-form {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
}

.input-group {
  margin-bottom: 15px;
  position: relative;
}

.input-label {
  font-size: 14px;
  color: var(--cTextPrimary);
  margin-bottom: 5px;
}

.input-field {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: var(--cTextPrimary);
  width: 100%;
}

.input-field:focus {
  border-color: var(--cBase01);
  outline: none;
}

.required {
  color: var(--danger);
}

.eye-icon {
  position: absolute;
  cursor: pointer;
  right: 4%;
  top: 55%;
}

.register-btn {
  background-color: var(--cBase01);
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.register-btn:hover {
  background-color: var(--cBase02);
}

/* Links adicionais */
.additional-links {
  text-align: center;
  margin-top: 30px;
  position: absolute;
  top: 1;
  padding-left: 2rem;
}

.additional-links p {
  font-size: 14px;
  color: var(--cTextPrimary);
}

.additional-links a {
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
  }

  .form-section {
    flex-direction: column;
    padding: 20px;
  }

  .side-container {
    display: none;
  }

  .form-container {
    padding: 10px;
  }
}
