.header-tables {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tables-change-btns {
  display: flex;
  gap: 8px;
}

.tables-change-btns button {
  border: 2px solid var(--cBase01);
  background-color: transparent;
  color: var(--cBase01);
  padding: 8px 48px;
  border-radius: 8px;
  font-size: 0.875rem;
  line-height: 1.7;
  margin-bottom: 32px;
  transition: 0.2s;
}

.tables-change-btns button.active {
  background-color: var(--cBase01);
  color: var(--c01);
  border: 2px solid transparent;
}

.tables-change-btns button.active:hover {
  background-color: #7f16ab;
}

.form-delete-table {
  width: 100%;
  margin: auto 0;
}

.form-delete-table button {
  background-color: transparent;
  text-align: left;
  font-size: 1rem;
}