.about {
  margin-top: 120px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
}

.about-title {
  font-size: 3.5rem;
  line-height: 1.125;
  margin-bottom: 32px;
}

.about-text {
  font-size: 1.25rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.about-text::before {
  content: "";
  width: 160px;
  height: 4px;
  background-color: var(--cBase01);
}

.about-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

@media(max-width: 800px) {
  .about-title {
    font-size: 3rem;
  }
}

@media(max-width: 600px) {
  .about {
    text-align: left;
  }

  .about-title {
    font-size: 2.5rem;
  }

  .home-text {
    font-size: 1.25rem;
  }

  .about-text:before {
    display: none;
  }
}

@media(max-width: 400px) {
  .about {
    margin-top: 80px;
  }

  .about-title {
    font-size: 2.25rem;
    margin-bottom: 20px;
  }

  .about-img {
    display: none;
  }
}