:root {
  --cBase01: #137776; /* Cor primária */
  --cBase02: #0a5d5d; /* Cor secundária mais escura */
  --cBase03: #0c4a47; /* Outra cor escura para contraste */
  --cLight: #f7f7f7; /* Cor clara (fundo, textos em destaque) */
  --cText: #b2b2b2; /* Cor de texto secundário */
}

.footer-bg {
  background-color: var(--cBase01); /* Cor primária */
  margin-top: 120px;
  padding: 40px 0; /* Adicionando um padding vertical para dar espaço */
}

.footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 20px;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  color: var(--cLight); /* Definindo cor clara para os textos no footer */
}

.contact-title,
.info-title {
  margin-bottom: 32px;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--cLight); /* Texto claro para os títulos das seções */
}

.footer ul {
  margin-bottom: 16px;
}

.footer li {
  margin-bottom: 16px;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--cText);
}

.footer li a {
  color: var(--cLight);
  text-decoration: none;
  transition: color 0.3s;
}

.copyright {
  font-size: 1.125rem;
  line-height: 1.5;
  grid-column: 1/-1;
  text-align: center;
  color: var(--cText);
}

@media (max-width: 800px) {
  .logo-footer {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 40px 10px;
  }

  .copyright {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .footer {
    padding: 30px 10px;
  }

  .contact-title,
  .info-title {
    font-size: 1.125rem;
  }
}
